<div id="alternatives-dialog" class="modal-dialog" role="document">
	<div class="model-content">
		<div class="modal-header">
			<button aria-hidden="true" class="close" data-dismiss="modal" type="button">
				&times;
			</button>
			<h4 class="modal-title" id="alternativesModal">Select an unattached annotation:</h4>
		</div>
        <div class="modal-body">
            <% NestedMetadata::EntityMention.includes(:nested_metadata_metadatum_values).where(id: @document.unattached_annotations(current_user.id)).each do |entity_mention| %>
                <%= render partial: "nested_metadata/documents/entity_mentions/show", locals: { entity_mention: entity_mention, metadatum_values: entity_mention.metadatum_values } %>
                <button class="btn btn-xs btn-success btn-select-unattached" data-entity-mention-id="<%= entity_mention.id %>">Select</button>
            <% end %>
        </div>
    </div>
</div>
