<% content_for :title do %><%= t(:"pages.about.title") %><% end %>
<h3><%= t(:"pages.about.heading") %></h3>
<p>GeoViz is a tool for validating geoparser results. <a href="http://kmcdono.com/" target="_blank">Katie McDonough</a> and <a href="http://www.taalmonsters.nl" target="_blank">Matje van de Camp</a> use this
in <a href="http://commons.pelagios.org/groups/linked-pasts/forum/topic/experimenting-wner-and-georesolution-for-early-modern-french-texts/#post-2669" target="_blank">their work</a> to identify and locate places
mentioned in early modern French texts. GeoViz currently maps attestations of places in Diderot&quot;s Encyclop$eacute;die. (Text provided by <a href="http://encyclopedie.uchicago.edu/" target="_blank">ARTFL</a>,
geoparser results from the <a href="http://www.ltg.ed.ac.uk/software/geoparser/" target="_blank">Edinburgh Geoparser</a>.)</p>
<p><%= t(:"pages.about.content").html_safe %></p>
