<div class="infowindow">
	<h4><%= name %></h4>
	<% if extracts %>
        <p>
            Found in <%= extracts.count %> extracts:
            <ul class="list-inline">
                <% extracts.each do |extract| %>
                    <li><a href="/documents?id=<%= extract.id %>&group=Annotations"><%= extract.name %></a></li>
                <% end %>
            </ul>
        </p>
	<% end %>
</div>
