<div class="group-entity">
	<% entity_mention.metadatum_values.with_key.order("nested_metadata_metadata_keys.sort_order").each do |metadatum_value| %>
		<div class="entity-mention-value">
			<div class="col-xs-12 col-lg-3">
				<label><%= metadatum_value.metadata_key.name %></label>
			</div>
			<div class="col-xs-12 col-lg-9">
				<div class="values">
					<%= render partial: "nested_metadata/documents/metadatum_values/show", locals: { metadatum_value: metadatum_value } %>
				</div>
			</div>
		</div>
	<% end %>
</div>