<%= link_to "Show fullscreen", "#annotate-fullscreen", :class => "btn btn-xs", "data-toggle" => "modal" %><br/>
<%= render partial: "geo_viz/extracts/annotation/map" %>
<div id="extract-controls">
	<% entity_mention = @source_document.entity_mentions.has_group(@group).new %>
	<% @group.metadata_keys.order(:sort_order).each do |key| %>
		<% entity_mention.metadatum_values.has_key(key).build %>
	<% end %>
	<%= render partial: "geo_viz/extracts/annotation/controls/new", locals: { entity_mention: entity_mention } %>
</div>
<%= render partial: "geo_viz/extracts/annotation/content" %>
