<%= render partial: "geo_viz/extracts/annotation/content" %>
<%= render partial: "geo_viz/extracts/annotation/map" %>
<div id="extract-controls">
	<%= render partial: "geo_viz/extracts/annotation/controls/new" %>
</div>
