<% value = metadatum_value.value.content %>
<% preferred_value_type = metadata_key.preferred_value_type %>
<% key = metadata_key.name %>
<div class="input-group input-group-sm" style="width:100%;">
	<% if preferred_value_type.eql?("date") %>
		<%= date_field_tag "#{key}[content]", value, :class => "form-control" %>
	<% elsif preferred_value_type.eql?("boolean") %>
		<%= check_box_tag "#{key}[content]", "true", value.eql?(true), :class => "form-control" %>
	<% elsif ["float", "integer"].include?(preferred_value_type) %>
		<%= number_field_tag "#{key}[content]", value, :class => "form-control", :step => preferred_value_type.eql?("integer") ? "1" : "0.0000001" %>
	<% else %>
		<%= text_field_tag "#{key}[content]", value, :class => "form-control" %>
	<% end %>
</div>
