<div class="modal" data-backdrop="static" data-keyboard="false" id="annotate-fullscreen" role="dialog" aria-labelledby="annotateFullScreen"></div>
<div class="modal fade" id="unattached_annotations" title="Select unattached annotation" role="dialog" aria-labelledby="unattachedAnnotationsModal">
</div>
<div class="modal fade" id="geonames_alternatives" title="Select alternative location" role="dialog" aria-labelledby="geonamesAlternativesModal">
</div>
<div class="modal fade" id="dbpedia_alternatives" title="Select alternative location" role="dialog" aria-labelledby="dbpediaAlternativesModal">
</div>
<div id="footer">
	<%= Rails.application.config.app_name %> <%= Rails.application.config.app_version %> - Developed by: <a href="http://www.taalmonsters.nl" target="_blank">De Taalmonsters</a> 2016
</div>
<%= render 'cookies_eu/consent_banner' %>
