<div class="modal fade" id="annotate-fullscreen" role="dialog" aria-labelledby="annotateFullScreen">
<div class="modal fade" id="alternatives" title="Select alternative location" role="dialog" aria-labelledby="myModalLabel">
</div>
<div id="footer">
	Developed by: <a href="http://www.taalmonsters.nl" target="_blank">De Taalmonsters</a> 2016
</div>
<%= render 'cookies_eu/consent_banner' %>
