/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "annotations/application";

div.row.main-content {
    height: calc(100% - 56px);
}

div.paragraph {
  display: block;
  // border: 1px solid white;
  div.sentence {
    display: block;
    // border: 1px solid blue;
    div.word {
      display: inline-block;
      margin: 0;
      // border: 1px solid green;
      &.no-space {
        margin-left: -4px;
        // border: 1px solid red;
      }
      &.annotated {
        background-color: #FF936E;
        cursor: pointer;
      }
    }
  }
}

form.new_entity_mention > div, form.edit_entity_mention > div {
  padding: 0 !important;
}

#new-marker {
  margin-top: 15px;
}

#source-document-group {
  padding-bottom: 0 !important;
}

#extract-content {
  border-top: 1px solid #EEE;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  height: calc(100% - 355px);
  overflow-y: auto;
}

#extract-map, #extract-controls {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 0;
  margin-bottom: 20px;
  height: 335px;
  width: 50%;
  .controls .btn {
    float: right;
    margin-left: 4px;
  }
}

#extract-map {
  width: calc(50% - 2px)
}

#extract-controls {
  padding-left: 5px;
  width: calc(50% - 2px)
}

.modal-dialog {
  background-color: #EEE;
  tr.alternative {
    cursor: pointer;
    &:hover {
      background-color: #17aed4;
      color: #fff;
    }
    &.selected:hover {
      background-color: initial;
      color: initial;
    }
  }
}

#map {
  padding: 0;
}
