/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

@import "taalmonsters";
@import "nested_metadata";
@import "annotations";

div.row.main-content {
    height: calc(100% - 56px);
}

#source-document > hr.no-bottom-margin {
    margin-bottom: 4px;
}

div.paragraph {
  display: block;
  // border: 1px solid white;
  div.sentence {
    display: block;
    // border: 1px solid blue;
    div.word {
      display: inline-block;
      margin: 0;
      // border: 1px solid green;
      &.no-space {
        margin-left: -4px;
        // border: 1px solid red;
      }
      &.geoparser {
        background-color: #CCC;
      }
      &.annotated {
        background-color: #13986D;
        color: #FFF;
        cursor: pointer;
      }
    }
  }
}

form.new_entity_mention > div, form.edit_entity_mention > div {
  padding: 0 !important;
}

#source-document {
    padding-bottom: 0;
    overflow-y: auto;
    #source-document-group {
        height: auto;
        overflow-x: hidden;
    }
}

#source-document-group-entity-mentions {
    height: auto;
}

#extract-content {
  border-top: 1px solid #EEE;
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 300px;
  overflow-y: auto;
  font-size: small;
  background: #FFF;
  color: #000;
}

#extract-map, #extract-controls {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 0;
  width: 50%;
  .entity-mention-value {
    display: inline-block;
    width: 49%;
    font-size: x-small;
    .input-group {
        margin-bottom: 0px !important;
    }
    input[type="text"], input[type="number"] {
        padding: 2px 4px;
        height: 20px;
    }
    input[type="checkbox"] {
        height: 14px;
    }
    a.input-group-addon {
        padding: 0px 4px;
        height: inherit;
    }
    &.location_type, &.position_wrt_main {
        width: 49%;
        > div {
            padding-right: 0 !important;
        }
    }
    &.position_wrt_main {
        width: 40%;
    }
    &.part_of_name, &.person {
        width: 49%;
    }
    &.is_main_location, &.near_main_location {
        width: 140px;
    }
  }
  .controls .btn {
    float: right;
    margin-left: 4px;
  }
}

#extract-map {
  margin-bottom: 20px;
  width: calc(50% - 2px);
  height: 300px;
}

#extract-controls {
  padding-top: 10px;
  padding-left: 5px;
  width: 100%;
}

#annotate-fullscreen-dialog .model-content {
  height: 100%;
  .modal-body {
    height: calc(100% - 56px);
    > div {
      height: calc(100% - 30px);
      #extract-map-fullscreen {
        height: 100%;
      }
      #extract-controls {
        width: 100%;
        height: 250px;
        margin: 0;
      }
      #extract-content {
        height: calc(100% - 240px);
        border: 1px solid grey;
      }
    }
  }
}

.modal-dialog {
  background-color: #EEE;
  tr.alternative {
    cursor: pointer;
    &:hover {
      background-color: #17aed4;
      color: #fff;
    }
    &.selected:hover {
      background-color: initial;
      color: initial;
    }
  }
  &#annotate-fullscreen-dialog {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    max-height: calc(100% - 60px);
  }
  &#alternatives-dialog {
    width: 75%;
    height: calc(100% - 100px);
    max-height: calc(100% - 100px);
    box-shadow: 0px 0px 10px #888888;
  }
}

#map {
  padding: 0;
}

#source-document #source-document-controls, #source-document-locks {
    display: none;
}

.infowindow {
    max-width: 400px;
}

#extract-controls.loading {
    input {
        pointer-events: none;
    }
}

.selected-for-annotation {
    color: #FFF;
}

#footer {
  width: auto;
  height: 16px;
  text-align: left;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #EEE;
}
